.background2 {
	background-image: url(images/p2_bkg.gif);
	background-repeat: no-repeat;
	background-position: center top;
}
.caption {
	font-size: 10px;
}
.background1 {
	background-image: url(images/p1_bkg.gif);
	background-repeat: no-repeat;
	background-position: center top;
}
