.left_space {
	margin-right: 20px;
}
.line_spacing {
	line-height: 9pt;
}
.line_spacing2 {
	line-height: 16px;
}
.line_spacing3 {
	line-height: 15px;
}

.top_border {
	padding-top: 4px;
	padding-bottom: 4px;
}
.left_space2 {
	margin-right: 20px;
}
.line_spacing4 {
	line-height: 8.4pt;
}
.style3 {
	font-size: 10px;
	font-weight: bold;
}
.style6 {font-size: 9px}