#submiss_image {
	position: relative;
	width: 225;
	left: 30px;
	top: 14px;
}
#sub_title {
	position: relative;
	top: 27px;
	left: 72px;
	width: 140;
}
#email_submit {
	position: relative;
	top: 20px;
	left: 4px;
	width: 200;
}
#sub_content {
	position: relative;
	top: 14px;
	width: 330;
	left: 34px;
}
.style2 {
	color: #5A738F;
}
#downloads {
	position: relative;
	width: 250;
	left: 40px;
	top: 40px;
	font-size: 12px;
}