.background {
	background-image: url(images/backg.gif);
	background-repeat: no-repeat;
	background-position: center top;
}
a.current:link {
	color: #CF7B34;
}
a.current:visited {
	color: #CF7B34;
}
a.blank:link {
	color: #878787;
}
a.blank:visited {
	color: #878787;
}
