#auth {
	position: relative;
	width: 124;
	top: -20px;
	left: -265px;

}
#auth2 {
	position: relative;
	width: 124;
	left: -270px;
	top: -10px;

}
.side_line {
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #95CAEE;
	padding-left: 20px;
}
