.border {
	border: 2px solid #9FAE8B;
	padding: 5px;
}
a.underline_none {
	text-decoration: none;
}
a.underline_none:link {
	text-decoration: none;
}
a.underline_none:visited {
	text-decoration: none;
}
a.underline {
	text-decoration: underline;
}
a.underline:link {
	text-decoration: underline;
}
a.underline:visited {
	text-decoration: underline;
}