.style9 {
	font-size: 13px;
	font-weight: bold;
}
.style13 {
	font-size: 13px;

}
.style10 {font-size: 10px}
.input_size {
	font-size: 10px;
	font-family: Arial, Verdana, "Arial Black";
	border: 1px solid #4F6A88;
}
.top_index_space {
	padding-top: 6px;
}
.style11 {
	font-size: 13px;
	color: #4F6A88;
	font-weight: bold;
}
