.title_line {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F4BF42;
	padding-top: 20px;
	font-weight: 900;
}
.body_text {
	padding-top: 6px;
}
.fact {
	padding-top: 18px;
}
.image_bump {
	padding-top: 20px;
}
.side_line {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #EDBF50;
	padding-right: 15px;
}
.left_margin {
	padding-left: 15px;
}
